<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/style.css"/>
</head>

<body>
    <div class="container">
        <div class="keys">
            <div class="up arr"><i class="fa fa-arrow-up"></i></div>
            <br />
            <form method="POST">
                <input name="left" type="submit" value="←">
            </form>
            <div class="stop"><i class="fa fa-times-circle-o"></i></div>
            <div class="right arr"><i class="fa fa-arrow-right"></i></div>
            <br />
            <div class="down arr"><i class="fa fa-arrow-down"></i></div
        </div>
        
        <br />
        <br />
        <br />
        <br />
        <div class="names">
            <div class="uptext"></div>
            <div class="downtext"></div>
            <div class="lefttext"></div>
            <div class="righttext"></div>
            <div class="b"></div>  
            <div class="a"></div>
        </div>
    </div>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
</body>
</html>